ERPNEXT_BASE_URL=http://100.127.172.110:8080
ERPNEXT_API_KEY=your_api_key_here
ERPNEXT_API_SECRET=your_api_secret_here
ERPNEXT_COMPANY=Baro Service LLC
ERPNEXT_DRY_RUN=1
ERPNEXT_TIMEOUT_SECONDS=180
ERPNEXT_MAX_RETRIES=2
ERPNEXT_RETRY_WAIT_SECONDS=5
